.adm-nav-bar{
    // margin-top: -45px;
    color: #333;
    background-color: #f6f5f6;
    
    .adm-nav-bar-title{
        color:#333;
    }
}
// .navbar{
//     margin-top: -45px;
//     color: #333;
//     background-color: #f6f5f6;
    
//     .am-navbar-title{
//         color:#333;
//     }
// }